<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <!-- General description of your web application -->
   <display-name>${project.name} - Webapp</display-name>
      <description>
         Describe the ${project.name} Webapp here.
         ${System.getProperty('user.name')}@example.com

         See http://tomcat.apache.org/tomcat-6.0-doc/appdev/web.xml.txt for more information
         regarding this Web Descriptor File.
   </description>
</web-app>