package ${packageName};

import com.blackbaud.testsupport.RandomGenerator;
import lombok.experimental.Delegate;

public class ARandom {

    public static final ARandom aRandom = new ARandom();

    @Delegate
    private RandomClientBuilderSupport randomClientBuilderSupport;
    @Delegate
    private RandomBuilderSupport randomBuilderSupport;
    @Delegate
    private RandomGenerator randomGenerator;

    public ARandom() {
        randomClientBuilderSupport = new RandomClientBuilderSupport();
        randomBuilderSupport = new RandomBuilderSupport();
        randomGenerator = new RandomGenerator();
    }

}
