package ${packageName};

import com.blackbaud.testsupport.RandomGenerator;
import lombok.experimental.Delegate;

public class ${qualifier}ARandom {

    public static final ${qualifier}ARandom aRandom = new ${qualifier}ARandom();

    @Delegate
    private ${qualifier}RandomBuilderSupport randomClientBuilderSupport = new ${qualifier}RandomBuilderSupport();
    @Delegate
    private RandomGenerator randomGenerator = new RandomGenerator();

}
