package ${servicePackageName}.client.model;

import static ${servicePackageName}.client.ClientARandom.aRandom

class Random${targetClass}Builder extends ${targetClass}.${targetClass}Builder {

    public Random${targetClass}Builder() {
    }

}
