package ${packageName};

import static com.blackbaud.ARandom.aRandom

class Random${targetClass}Builder extends ${targetClass}.${targetClass}Builder {

    public Random${targetClass}Builder() {
    }

}
