package ${packageName};

import static com.blackbaud.ARandom.aRandom

class Random${resourceName}Builder extends ${resourceName}.${resourceName}Builder {

    public Random${resourceName}Builder() {
    }

}
