package ${packageName};

import static ${packageName}.${qualifier}ARandom.aRandom

class Random${targetClass}Builder extends ${targetClass}.${targetClass}Builder {

    public Random${targetClass}Builder() {
        throw new RuntimeException("add some stuff")
    }

}
