package ${servicePackageName}.core.domain;

import static ${servicePackageName}.core.CoreARandom.aRandom

class Random${targetClass}Builder extends ${targetClass}.${targetClass}Builder {

    public Random${targetClass}Builder() {
        throw new RuntimeException("add some stuff")
    }

}
