package ${servicePackage};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.EnableAutoConfiguration;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.orm.jpa.EntityScan;
import org.springframework.context.annotation.ComponentScan;

@SpringBootApplication
@EntityScan({"${servicePackage}", "com.blackbaud.boot.converters"})
@ComponentScan("${servicePackage}")
public class ${serviceName} {

    public static void main(String[] args) {
        SpringApplication.run(${serviceName}.class, args);
    }

}
