package ${servicePackage}.resources

import ${servicePackage}.ComponentTest
import groovyx.net.http.RESTClient
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.beans.factory.annotation.Value
import spock.lang.Specification

import static ${servicePackage}.ARandom.aRandom

@ComponentTest
class ${resourceName}ResourceWireSpec extends Specification {

    @Autowired
    private RESTClient client

    @Value("http://localhost:\\\${server.port}")
    private final String BASE_URI

}