buildscript {
    dependencies {
        classpath "com.blackbaud:gradle-internal:${gradleInternalMajorVersion}.+"
    }
}

apply plugin: "blackbaud-internal"

dependencies {
    compile "com.google.guava:guava:${guavaVersion}"
    compileOnly "org.projectlombok:lombok:${lombokVersion}"

    testCompile "com.blackbaud:common-test:${commonTestMajorVersion}.+"
    testCompile "org.codehaus.groovy:groovy-all:${groovyVersion}"
    testCompile ("org.spockframework:spock-core:${spockVersion}") {
        exclude group: "org.codehaus.groovy"
    }
}

