buildscript {
    dependencies {
        classpath "com.blackbaud:gradle-internal:4.+"
    }
}

apply plugin: "blackbaud-internal"

dependencies {
    compile "com.google.guava:guava:23.0"
    compileOnly "org.projectlombok:lombok:1.16.18"

    testCompile "com.blackbaud:common-test:3.+"
    testCompile "org.codehaus.groovy:groovy-all:2.4.3"
    testCompile ("org.spockframework:spock-core:1.1-groovy-2.4") {
        exclude group: "org.codehaus.groovy"
    }
}

