buildscript {
    dependencies {
        classpath "com.blackbaud:gradle-internal:${gradleInternalMajorVersion}.+"
    }
}

apply plugin: "blackbaud-internal"
apply plugin: 'integration-test'
<% if (includeGeb) { %>apply plugin: 'blackbaud-internal-ui' <% } else { %><% } %>

ext {
    springBootVersion = "${springBootVersion}"
}

dependencies {
    integrationTestCompile "com.google.guava:guava:${guavaVersion}"
    integrationTestCompile "com.blackbaud:common-spring-boot-rest-test:\${springBootVersion}-${commonSpringBootMajorVersion}.+"
    integrationTestCompile "org.springframework.boot:spring-boot-starter-test:\${springBootVersion}"
    <% if (includeGeb) { %>integrationTestCompile "com.blackbaud:common-geb:${commonGebMajorVersion}.+" <% } else { %><% } %>
    integrationTestCompile "com.blackbaud:common-test:${commonTestMajorVersion}.+"
    integrationTestCompile "org.codehaus.groovy:groovy-all:${groovyVersion}"
    integrationTestCompile ("org.spockframework:spock-spring:${spockVersion}") {
        exclude group: "org.codehaus.groovy"
    }
    integrationTestCompileOnly "org.projectlombok:lombok:${lombokVersion}"
}

task configureForInt << {
    integrationTest.systemProperty "spring.cloud.config.uri", "http://bluemoon-config-server-oscf-dev-brokers.app.oscf-dev.blackbaudcloud.com"
    integrationTest.systemProperty "SPRING_PROFILES_INCLUDE", "oscf-dev,int-apps,oscf-dev.int-apps"
}

task integrationTestLocal (dependsOn: [ configureForInt, integrationTest] )

publishing_ext {
    publication("main") {
        enabled false
    }
    publication("integrationTest") {
        artifactId "${artifactId}"
        archiveTask zipIntegrationTests
        publishSources false
    }
}
