buildscript {
    ext {
        springBootVersion = "1.3.0.RELEASE"
    }
    dependencies {
        classpath "org.springframework.boot:spring-boot-gradle-plugin:\${springBootVersion}"
        classpath "com.blackbaud:gradle-internal:3+"
        classpath "com.blackbaud:gradle-templates:2+"
    }
}

apply plugin: "blackbaud-internal-rest"
apply plugin: "blackbaud-templates"
apply plugin: "spring-boot"

dependencies {
    compile "com.blackbaud:common-spring-boot-rest:\${springBootVersion}-1+"

    mainTestCompile "com.blackbaud:common-test:1.+"
    mainTestCompile "org.codehaus.groovy:groovy-all:2.4.3"
    mainTestCompile ("org.spockframework:spock-spring:1.0-groovy-2.4") {
        exclude group: "org.codehaus.groovy"
    }

    componentTestCompile "org.springframework.boot:spring-boot-starter-test"
    componentTestCompile 'org.codehaus.groovy.modules.http-builder:http-builder:0.7.1'
}

swagger {
    generateDocs
}
