package ${servicePackage}.resources;

import ${servicePackage}.api.ResourcePaths;
import org.springframework.http.HttpStatus;
import org.springframework.stereotype.Component;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Context;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.UriInfo;


@Component
@Path(ResourcePaths.${resourcePathVar})
@Produces(MediaType.APPLICATION_JSON)
public class ${resourceName}Resource {

    @Context
    private UriInfo uriInfo;

}
