package ${packageName};

import com.fasterxml.jackson.databind.PropertyNamingStrategy;
import com.fasterxml.jackson.databind.annotation.JsonNaming;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
<% if (upperCamel) { %>@JsonNaming(PropertyNamingStrategy.UpperCamelCaseStrategy.class)<% } else { %>@JsonNaming(PropertyNamingStrategy.SnakeCaseStrategy.class)<% } %>
public class ${resourceName} {

    String replaceme;

}
