package ${servicePackage}.resources

import ${servicePackage}.ComponentTest
import spock.lang.Specification

import static ${servicePackage}.core.CoreARandom.aRandom

@ComponentTest
class ${resourceName}ResourceSpec extends Specification {

}
