package ${packageName};

import java.util.UUID;
import org.springframework.data.repository.CrudRepository;

public interface ${resourceName}Repository extends CrudRepository<${resourceName}Entity, UUID> {

}