package ${packageName};

import com.blackbaud.cosmos.sharded.ShardedMongoRepositoryImpl;
import org.springframework.beans.factory.annotation.Autowired;

import java.util.List;

public class ${entityName}TransactionalRepositoryImpl extends ShardedMongoRepositoryImpl<${entityName}Entity> implements ${entityName}CustomRepository {

    @Autowired
    private ${entityName}TransactionalRepository ${entityNameLowerCamel}Repository;

    public ${entityName}Entity save(${entityName}Entity entity) {
        return ${entityNameLowerCamel}Repository.shardedSave(entity);
    }

    public List<${entityName}Entity> save(List<${entityName}Entity> entity) {
        return ${entityNameLowerCamel}Repository.shardedSave(entity);
    }

    public void delete(${entityName}Entity entity) {
        ${entityNameLowerCamel}Repository.shardedDelete(entity);
    }

    public void delete(List<${entityName}Entity> entities) {
        ${entityNameLowerCamel}Repository.shardedDelete(entities);
    }
    
}
