package ${packageName};

import org.bson.types.ObjectId;
import com.blackbaud.cosmos.sharded.ShardedMongoRepository;

public interface ${entityName}TransactionalRepository extends ShardedMongoRepository<${entityName}Entity, ObjectId> {
}
