apply plugin: "blackbaud-internal-rest"

ext {
    artifactId="${embeddedService}-client"
}

swagger {
    generateClient {
        resourcePathNames "${embeddedService}"
    }
}

cpdMain {
    exclude "*"
}

pmdMain {
    exclude "*"
}
