apply plugin: "blackbaud-internal-rest"

ext {
    artifactId="\${project.parent.ext.artifactId}-client"
}

swagger {
    generateClient {
        resourcePathNames "${embeddedService}"
    }
}

cpdMain {
    exclude "*"
}

pmdMain {
    exclude "*"
}
