{
"modelPackage":"${packageName}.client.model",
"apiPackage":"${packageName}.client.api",
"invokerPackage":"${packageName}.client",
"groupId":"com.blackbaud",
"artifactId":"${artifactId}",
"artifactVersion":"1.0.0",
"sourceFolder":"src/main/java",
"library": "jersey2"
}
