package ${classPackage}

import org.gradle.api.Project
import org.gradle.api.Plugin

/**
 * @author ${System.getProperty('user.name')}
 * Created: ${new Date()}
 */
class ${className} implements Plugin<Project> {
   void apply (Project project) {
      project.convention.plugins.${className} = new ${className}Convention()
      
      // add your plugin tasks here.
   }
}