# see https://blackbaud.visualstudio.com/Products/_git/scs-gateway-gradle-plugin?path=%2FReadme.md&version=GBmaster
# for documentation and example configurations
---
services:
- prod-host: prod-service-host.blackbaud.com
  test-host: test-service-host.blackbaud.com
