<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/blackbaud/boot/logback/common-logback.xml" />
    <include resource="com/blackbaud/async/logback/common-async.xml"/>

	<logger name="com.blackbaud" level="DEBUG"/>

    <appender name="CUSTOM_LOGGING" class="com.blackbaud.logging.custom.CustomLoggingAppender">
        <springProfile name="vsts">
                <appender-ref ref="SPLUNK"/>
        </springProfile>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <!-- Add custom rules here -->
        <applyCustomRuleSets>common-service-bus</applyCustomRuleSets>
    </appender>

    <root level="INFO">
        <appender-ref ref="CUSTOM_LOGGING" />
    </root>

</configuration>
