# Gradle
.gradle/
build/
logs/
out/

# IDEA
.idea/
*.iml
*.ipr
*.iws
*.ids
dataSources/

# OS
.DS_Store

# Swagger
client/src/main/java

# Developer properties
src/main/resources/application-developer.properties
